@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Source+Code+Pro:ital,wght@1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.sidebar{
    background-color:rgb(236, 238, 223);
    
    font-family: "Fira Sans",sans-sarif;
    height: 150vh;
    transition: transform 0.3s ease-in ;
    position: absolute;
}
.sidebar nav{


    padding: 45px;
}
.sidebar nav li{


    list-style: none;
    font-size: 18px;
    padding: 25px;
    font-weight: bold;

}
.sidebar nav li a{
    text-decoration-line: none;
    color: rgb(12, 12, 12);
}
.main{
    /*background-color: yellow;*/
    width: 87vw;
}
.container{
    display: flex;
}
.infocontainer{

/*background-color: rgb(66, 64, 54);*/
height: 75vh;
width: 70vw;
margin: 144px auto;
display: flex;
justify-content: space-around;
}
.devInfo{

font-size: 17px;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    font-family: 'Source Code Pro',monospace;
}
.hello{
font-size: 58px;
justify-content: center;

}
.name{

    font-size:40px;
    font-weight: bold;
    font-family: 'Fira Sans'sans-serif;
    align-items: center;
}
.about{

font-size: 30px;
margin-top: 15px;

}
.moreabout{

    font-size: 20px;
    margin-top: 23px;
}
.buttons{
    margin-top: 34px;


}
.btn{

padding: 9px 14px;
border-radius: 22px;
color: white;
background-color: dodgerblue;
font-weight: bold;
font-size: 21px;
margin: 0 3px;
cursor: pointer;

}
.btn{

    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    
    }
.btn-sm{

    font-size: 17px;
    padding: 10px 19px;
    margin: 12px 0;
}
.btn:hover{
    color: dodgerblue;
    
    background-color:white;


}
.devPic img{

    height: 40vh;

}
.Contactform h1{
padding: 12px 0;

}
.Contactform form div{

padding: 10px 5px;
display: flex;
flex-direction: column;
background-color: rgb(62, 207, 62);

}
.Contactform form div input{

    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
    }
#emailHelp{

font-size: 12px;
color: midnightblue;
margin: 0 5px;
padding: 3px 0 0 0;
}
#form-check{
flex-direction: row;


}
#form-check-input{

width: 24px;
margin: 3px 0;

}
.blogItem{
margin: 20px;

}
h1{

margin: 23px;
}
.intro p{


    margin: 12px;


}
.intro h2{

margin: 12px;
margin-left: 70px;

}
.skillcontainer{

padding: 12px;

}
.skill{

    width: 265px;
    height: 6px;
    background-color: red;

}
.skillItem{

    display: flex;
    align-items: center;
}
.hundred{
    width: 265px;
    background-color:gray;
}
.fifty{

    width: 125px;
    background-color:white;
}
.t5{
width: 75px;
background-color: yellow;


}

.sidebarGo{

    transform: translate(-443px,0px);
    position: absolute;
}
.hamburger{

    position: absolute;
    cursor: pointer;
    top :10px;
    left :10px;
    
}.hame{


    margin-top: 10px;
}
.cross{
    margin-left: 185px;
    margin-top: 10px;
}
.devPic{


    display: none;
}
.ps{

padding: 10px;

}
.pm{

    margin-left: 120px;
}
.xy{

    margin-left: 100px;
}
ol{

margin-left: 100px;

}
.cv{

    margin-left: 100px;
}
.Contactform{
    margin-left: 100px;
}